 <div ng-controller="mainController" id="aboutme">
       <div class="container-fluid">
           <br />
           <br />
           <h1>{{who}}</h1>
           <p>
               {{message}} </br>
               {{extra}} </br>
           <!--{{hireme}}</br>-->
               {{research}} 
           </p>
       </div>
   </div>

 