<div ng-controller="skillsController">
	
	</br>
	</br>
	
    <h2>Skills</h2>
    
    
   <div id="skills"> 
        {{skillset}} <br/>
        {{ml}} <br/>
        {{webdev}} <br/>
   </div>
        

        
        
<!--
    <div id="resume">
        <a href="https://drive.google.com/file/d/0B44mATPcQlDLdkRoRFE3NG9CYWc/view?usp=sharing">Take a look at Bhavika's complete resume </a>
    </div>
-->


    
</div>
