<div ng-controller="workController" id="workex">
    
    <br/>
    
   
    <h2>Work</h2>
    
    <div id="work">
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQZjlLa29UTDdBS1k/view?usp=sharing"><h4>{{dataminingreport}} </h4></a>
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQQW1POHRscUY2a0E/view?usp=sharing"><h4> {{beproject}}</h4></a>
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQT0hrNFhNUzUwYms/view?usp=sharing"><h4> {{coapresentation}}</h4></a>
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQTVJWU092VVJDelk/view?usp=sharing"><h4>{{hadoop}}</h4></a>
        <a href="http://iycjrc.myexamnotes.com/"><h4>{{iycollege}}</h4></a>
    </div>
    
    <br/>
    
    
    <h2> Certifications </h2>
    <div id="certs">
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQRmdMMmh6dmdrRU0/view?usp=sharing"><h4>{{javacert}}</h4> </a>
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQNmZMaVJnUjJYWm8/view?usp=sharing"><h4>{{courseradatascience}}</h4> </a>
        
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQc25JQmJ5Z3hsNFU/view?usp=sharing"><h4>{{angjsPS}}</h4></a>
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQZUtBQTZZVEY3Y1E/view?usp=sharing"><h4>{{bowerPS}}</h4></a>
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQNjM2VWRRLU9yd2s/view?usp=sharing"><h4>{{mysqlPS}}</h4></a>
        <a href="https://drive.google.com/file/d/0B7f1QqSzzjjQb1otY3o0ZC00Vms/view?usp=sharing"><h4>{{agilePS}}</h4> </a>
    </div>
    
   
</div>
