#skills {
    vertical-align: bottom;
    text-align: center;
    align-items: center;
    margin-left: 10px;
}


h2 {
       text-align: center;
}


#aboutme {
    text-align: center;
    font-size: larger;
    font-weight: 400;
}


footer{
    text-align: center;
    margin: auto;
   
}

#contact , #work, #certs {
    text-align: center;
    font-size: large;
    font-weight: 400;
}

#skills{
    text-align: center;
    font-size: large;
    font-weight: 400;
    align-items : center;
}

li{
list-style-type: none;
}


#resume
{
    text-align: center;
    
}

a:hover
{
    text-decoration : none;
    
}
